// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #10ddc2;
$gray: #0E0000;
$light-gray: #F4F4F4;
$my-green: #15b7b9;
$pink: #f57170;
$white: #fff;
$black: #000000;