// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Roboto:300,400');


// Define fonts for body and headers
$body-font: "Montserrat", "Helvetica", "sans-serif";
$headers-font: "Roboto", "Helvetica", "sans-serif";

$base-size: 16px;
$base-height: 1,4;
