<div class="container mt-3" >
  <div class="shadow p-3 mb-5 bg-white rounded">
    <div class="row">
     <div class="col-sm-12">
      <div>
      <img src="https://cdn.shortpixel.ai/spai/w_750+q_lossy+ret_img+to_webp/https://www.focusonthefamily.com/wp-content/uploads/2019/07/C9AFB4B4854D4442B9CD42E8008017C2-1024x575.jpeg" width="300px" alt=""></%>
      </div>
      </div>
    </div>
  </div>
</div>

