.carousel-img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.kindergardens-line {
  border-top: 1px solid #f57170;
  width: 90%;
  margin-left: 13px;
  margin-right: 13px;
 }

.form-pink-bg {
  background-color: $primary;
  color: white;
  padding: 16px;
  margin-bottom: 40px;
  margin: 0 auto;
  max-width: 620px;

  label {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;

  }
}
.btn-white {
  background-color: #f5716f;
  color: #ffffff;
  border-color: white;
  font-weight: 600;
}
.btn-white:hover {
  background-color: white;
  color: #f5716f;
  border: white 1px #f5716f;
}

.kita-show-info, .kita-show-form {
  padding: 40px;
}

.kita-show-info h1 {
  display: flex;
  margin-top: 16px;
  letter-spacing: 1px;
  font-size: 2em;

  strong {
    margin-left: 16px;
  }
}

.kita-show-info h4 {
  margin-bottom: 16px;
  font-size: 21px;

  .fas {
    margin-right: 8px;
    color: $primary;
  }
}

.kita-show-info .kita-info {
  color: black;

  span {
    color: $primary;
  }
}

.kita-info {
  margin-bottom: 21px;

  .kita-info-details:first-of-type {
    margin-right: 60px;
  }
}

.kita-contact {
  margin-bottom: 21px;

  span:first-of-type {
    margin-right: 46px;
  }

  span .fas {
    color: $primary;
  }
}


.kita-show-details {
  display: flex;
  justify-content: space-between;
  h4 {
    font-size: 18px;
    color: $primary
  }
}

.kita-show-form {
  .form-pink-bg {
    margin-top: 30px;
    margin-bottom: 21px;
  }
}

.review-user {
  margin-bottom: 8px;

  i {
    color: black;
    font-style: normal;
  }

  i.fa-star {
    color: white;
    font-size: 16px;
  }
}

