<footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Kita Butler</h5>
        <p>26 Rudi-Dutschke-Strasse<br> 10969 Berlin<br> Deutschland <br>+49 030 12345678</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Resources</h5>

        <ul class="list-unstyled">
          <li>
            <a href="http://www.berlinforallthefamily.com/childcare--schools/how-to-apply-for-a-kita-spot-in-berlin-kita-gutschein-waiting-lists-fees-explained">Application process</a>
          </li>
          <li>
            <a href="https://www.berlin.de/sen/jugend/familie-und-kinder/kindertagesbetreuung/kitas/">Official documents</a>
          </li>
          <li>
            <a href="https://www.howtogermany.com/pages/kindergeld.html">Children's allowance</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Documents</h5>

        <ul class="list-unstyled">
          <li>
             <a href="https://www.berlin.de/ba-marzahn-hellersdorf/service/dienstleistungen/service.30747.php/dienstleistung/324873/standort/123597/pdf/">Kita Gutschein</a>
          </li>
          <li>
            <a href="https://www.kindergeld.org/download/KG1.pdf">Kindergeld</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center pb-4">
    <ul class="list-inline social-buttons">
      <li class="list-inline-item">
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="list-inline-item">
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
    </ul>
  </ul>
  <!-- Social buttons -->

</footer>
<!-- Footer -->
