<div class="d-flex justify-content-between">
 <div>
  <div>
    <h4>
      Name
    </h4>
  </div>
  <div>
    Stars
  </div>
  <div>
    <p>
    reviews content
    </p>
  </div>
 </div>
 <div>
  <div>
    <h4>
      Name
    </h4>
  </div>
  <div>
    Stars
  </div>
  <div>
    <p>
     reviews content
    </p>
  </div>
 </div>
 <div>
  <div>
    <h4>
      Name
    </h4>
  </div>
  <div>
    Stars
  </div>
  <div>
    <p>
      reviews content
    </p>
  </div>
 </div>
</div>
