<div class="d-flex justify-content-between">
 <div>
  <div>
    <h4>
      Alberto T.
    </h4>
  </div>
  <div>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
  </div>
  <div>
    <p>
    We are happy to have a place here for our child!
    </p>
  </div>
 </div>
 <div>
  <div>
    <h4>
      Maryna G.
    </h4>
  </div>
  <div>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="far fa-star"></i>
  </div>
  <div>
    <p>
     We like it a lot. Totally recommendable!
    </p>
  </div>
 </div>
 <div>
  <div>
    <h4>
      Andrei T.
    </h4>
  </div>
  <div>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="fas fa-star"></i>
    <i class="far fa-star"></i>
    <i class="far fa-star"></i>
  </div>
  <div>
    <p>
      Generally a good kindergarden, a playground outside would be good
    </p>
  </div>
 </div>
</div>
