<div class="d-flex">
  <div>
    <p>
      <strong>Are there free available spots?</strong>
      <br>
     <%= @kindergarden.is_available %>
    </p>
  </div>
  <div>
   <p>
    <strong>Languages</strong>
    <br>
     <%= @kindergarden.language %>
   </p>
  </div>
  <div>
    <p>
     <strong>Capacity</strong>
     <br>
      <%= @kindergarden.capacity %>
    </p>
  </div>
</div>

