<div class="d-flex justify-content-between">
  <div>
    <h4><strong>Are there free available spots?</strong></h4>
    <p><%= @kindergarden.is_available %></p>
  </div>
  <div>
   <h4><strong>Languages</strong></h4>
     <p><%= @kindergarden.language %></p>
  </div>
  <div>
    <h4><strong>Capacity</strong></h4>
     <p><%= @kindergarden.capacity %></p>
  </div>
</div>

