<div class="kita-show-details">
  <div style="position: relative;">
    <h4><strong>Are there available spots?</strong></h4>
    <% if @kindergarden.is_available  %>
      Yes
    <% else %>
      No
    <% end %>
  </div>
</div>

