<div class="d-flex justify-content-between">
 <div>
  <div>
    <h4>
      Alberto T.
    </h4>
  </div>
  <div>
    Stars
  </div>
  <div>
    <p>
    We are happy to have a place here for our child!
    </p>
  </div>
 </div>
 <div>
  <div>
    <h4>
      Name
    </h4>
  </div>
  <div>
    Stars
  </div>
  <div>
    <p>
     reviews content
    </p>
  </div>
 </div>
 <div>
  <div>
    <h4>
      Name
    </h4>
  </div>
  <div>
    Stars
  </div>
  <div>
    <p>
      reviews content
    </p>
  </div>
 </div>
</div>
