<div class="container">
  <div class="container-text">
    <%= form_tag kindergardens_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a KiTa pet by name, language, or address"
        %>
      <%= submit_tag "Search", class: "btn btn-primary", style:"margin-top:15px;" %>
    <% end %>
  </div>
</div>
<% if params[:message].present? %>
  <p><%= params[:message] %></p>
<% end %>
<div class="center-text">
  <p>Rent the perfect KiTa for your kids.</p>
</div>


