<div class="container">
  <div class="form-pink-bg form-reservations-new">
    <% if current_user.kids.exists? %>
     <p>Please select one of your kids and we'll guide you through the application process for this Kindergarden</p>
      <%= simple_form_for([@kindergarden, @reservation]) do |f| %>
      <%= f.association :kid, collection: current_user.kids, label_method: :first_name %>
      <%= f.button :submit, class:"btn btn-white w-100" %>
      <% end %>
    <% end %>
    <hr>
   <%= link_to "Home Page", root_path, class:"btn btn-white w-100" %>
  </div>
</div>
