.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  p {
    font-size: 20px
  }
}

#map {
  //height: 100vh;
  position: sticky;
  //width: 50%;
  top: 0;
}
