.ftco-navbar-light {
	background: transparent!important;
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	z-index: 10;
	@include media-breakpoint-down(md) {
		background: $black!important;
		position: relative;
		top: 0;
	}

	.navbar-brand {
		color: $black;
		span{
			color: $secondary;
		}
		@include media-breakpoint-down(md)
    {
			color: $white;
		}
	}

  .navbar-nav {
		@include media-breakpoint-down(md)
    {
			padding-bottom: 10px;
		}
		> .nav-item {
			> .nav-link {
				font-size: 15px;
				padding-top: .9rem;
				padding-bottom: .9rem;
				padding-left: 20px;
				padding-right: 20px;
				color: $black;
				font-weight: 400;
				&:hover {
					color: $primary;
				}
				opacity: 1!important;
				@include media-breakpoint-down(md)
        {
					padding-left: 0;
					padding-right: 0;
					padding-bottom: 0;
					color: $white;
				}
			}

			.dropdown-menu{
				border: none;
				background: $white;
				-webkit-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
				-moz-box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
				box-shadow: 0px 10px 34px -20px rgba(0,0,0,0.41);
			}


			&.ftco-seperator {
				position: relative;
				margin-left: 20px;
				padding-left: 20px;
				@include media-breakpoint-down(md) {
					padding-left: 0;
					margin-left: 0;
				}
				&:before {
					position: absolute;
					content: "";
					top: 10px;
					bottom: 10px;
					left: 0;
					width: 2px;
					background: rgba($white, .05);
					@include media-breakpoint-down(md) {
						display: none;
					}
				}
			}
			&.cta {
				> a {
					color: $white;
					border: 1px solid $primary;
					padding-top: .5rem;
					padding-bottom: .5rem;
					padding-left: 18px;
					padding-right: 18px;
					margin-top: 4px;
					background: $primary;
					@include border-radius(2px);
					span {
						display: inline-block;
						color: $white;
					}
					&:hover{
						background: $primary;
						border: 1px solid $primary;
					}
				}
				&.cta-colored {
					a{
						border: 1px solid $secondary;
						background: $secondary !important;
					}
				}
			}
			&.active {
				> a {
					color: $primary;
				}
			}
			@include media-breakpoint-down(md)
      {
				&.active {
					> a {
						color: $primary;
					}
				}
			}
		}
	}
	.navbar-toggler {
		border: none;
		color: rgba(255,255,255,.5)!important;
		cursor: pointer;
		padding-right: 0;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: .1em;
		&:hover, &:focus {
			text-decoration: none;
			color: $primary;
			outline: none !important;
		}
	}
	&.scrolled  {
		position: fixed;
		right: 0;
		left: 0;
		top: 0;
		margin-top: -130px;
		background: $white!important;
		box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
		.nav-item {
			> .nav-link{
				@include media-breakpoint-down(md){
					padding-left: 0 !important;
					padding-right: 0 !important;
					padding-bottom: 0 !important;
				}
			}
			&.active {
				> a {
					color: $primary!important;
				}
			}
			&.cta {
				> a {
					color: $white !important;
					background: $primary;
					border: none !important;
					padding-top: .5rem!important;
					padding-bottom: .5rem !important;
					padding-left: 20px !important;
					padding-right: 20px !important;
					margin-top: 6px !important;
					@include border-radius(5px);
					span {
						display: inline-block;
						color: $white !important;
					}
				}
				&.cta-colored {
					span {
						border-color: $primary;
					}
				}
			}
		}

		.navbar-nav {
			@include media-breakpoint-down(md) {
				background: none;
				border-radius: 0px;
				padding-left: 0rem!important;
				padding-right: 0rem!important;
			}
		}

		.navbar-toggler {
			border: none;
			color: rgba(0,0,0,.5)!important;
			border-color: rgba(0,0,0,.5)!important;
			cursor: pointer;
			padding-right: 0;
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: .1em;

		}
		.nav-link {
			padding-top: .9rem!important;
			padding-bottom: .9rem!important;
			color: $black!important;
			&.active {
				color: $primary!important;
			}
		}
		&.awake {
			margin-top: 0px;
			transition: .3s all ease-out;
		}
		&.sleep {
			transition: .3s all ease-out;
		}

		.navbar-brand {
			color: $black;
		}
	}
}

.navbar-brand {
	font-weight: 800;
	font-size: 20px;
}

.navbar-application{
	padding: 1.75rem 1rem;
	font-family: inherit;
	font-size: 15px;
	line-height: 1.8;
	font-weight: 400;
	font-family: "Montserrat", "Helvetica", "sans-serif";
	ul.navbar-nav{
		display: flex;
		justify-content: flex-end;
		flex-direction: row;

		li:not(:first-of-type){
			margin-left: 40px;
		}
	}
	.nav-link {
		color: $black;
		&:hover, &:focus {
			text-decoration: none;
			color: $primary;
			outline: none !important;
		}
	}
	.nav-item.active{
		.nav-link {
			color:$primary;
		}
	}
}
